<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534209804520-0gjavb0gqle072olpdeh9r5i8n025rm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534209804520-0gjavb0gqle072olpdeh9r5i8n025rm1</string>
	<key>API_KEY</key>
	<string>AIzaSyAcpFt_Hl7KqnLdqBMN0YQPVxV5e69RB7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>534209804520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pavel-Gomarov.JsonApp</string>
	<key>PROJECT_ID</key>
	<string>networking-1355a</string>
	<key>STORAGE_BUCKET</key>
	<string>networking-1355a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534209804520:ios:75b7f332fd259d0f0c315d</string>
</dict>
</plist>